doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  section.logos
    img(src="images/terraform-full-color-logo.svg" alt="Terraform logo")
    img(src="images/node.js_logo.svg" alt="NodeJS logo")
    img(src="images/cloud_logo.svg" alt="Cloud logo")

  footer
