@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');

body {
  font-family: "Titillium Web", Helvetica, Arial, sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
}

h1 {
  margin-top: 6em;
  text-align: center;
  font-weight: 400;
}

a {
  color: #00B7FF;
}

footer {
  position: fixed;
  min-height: 102px;
  bottom: 0;
  background-image: url("/images/tf-demo-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.logos {
  margin: 0 auto;
  width: 700px;
  display: flex;
}

.logos img {
  padding: 0 16px;
}
